extends layout

block body
  .wrapper
    .top-header
      .wedding-of The wedding of
      table
        tbody
          tr
            td.groom-name Kai
            td.ampersand
              img(src="http://weddingjojo.s3.amazonaws.com/assets/themes/mist/ampersand.png")
            td.bride-name Mai
      hr.little-line
      .date February 7th-8th, 2014
      img.photo(src="photo.jpg")

    ul.navigation
      li
        a(href='biography') biography
      li
        a(href='hotel') hotel
      li
        a(href='mehndi') mehndi
      li
        a(href='wedding') wedding
      li
        a(href='contact') contact

    div(ng-view)
