.biography
  h2 Biography

  .description
    p.
      Mai and Kai first crossed paths in Sacramento, CA. Mai had moved to Roseville for her Nordstrom management job, while Kai had moved to Fair Oaks to pursue a career in real estate. Both Mai and Kai decided to join match.com while residing in Sacramento. Going into the date, Mai thought Kai was super serious, reserved, and rigid from his pictures and profile description. But she thought she would chance it with Kai.  In July 2011, Mai and Kai went on their first date at the Press Bistro in Midtown where they hit it off and the date ended with Mai giving Kai an awkward, uncomfortable hug. This left Kai very confused because he thought the date went well. A few dates and a few weeks later, Kai discovered that Mai just gives awkward, gentle, uncomfortable hugs to everyone. Mai and Kai immediately became an official couple by mid August.

    p.
      In October of the same year, Mai got moved to the bay area for work. So Mai and Kai were long distance for the next two years of their relationship. Mai lived in Marin, while Kai still resided in Fair Oaks. During this time, they enjoyed San Francisco, Napa, Tahoe, and even went to Europe together. Mai and Kai learned to really cherish every moment with each other because they did not have the luxury of seeing each other often.  Over the two years, their love blossomed and they decided to take the next step of living together. In August of 2013, Mai packed up her things and transferred her job to Sacramento. Little did she know, Kai had started planning his proposal.

    p.
      On December 12th, 2013, Kai summoned Mai to the guest bedroom. Mai walked up to the door, which was closed. When she opened it, Kai was kneeled down in his suit with a single rose with the ring in his hand. Mai was stunned and shocked in her Stewie Family guy pajamas, totally unsuspecting. Kai asked her to marry him and Mai said yes!
