.contact
  h2 Contact Info

  p.description
    | Please refer any questions to Rafat or Cindi Siddiqui

  .contact-info
    .name Cindi Siddiqui
    .phone 203.722.1178
    a.email( href="mailto:lapisiris53@yahoo.com", target="_blank" ) lapisiris53@yahoo.com

  .contact-info
    .name Rafat Siddiqui
    .phone 916.903.3770
    a.email( href="mailto:rafatssiddiqui@gmail.com", target="_blank" ) rafatssiddiqui@gmail.com
