.hotel
  h2 Hotel

  a(href="http://www.larkspurhotels.com/larkspur-landing/sacramento" target="_blank") The Larkspur Hotel
  p.description
    | There is a group discount rate at the <a href="http://www.larkspurhotels.com/larkspur-landing/sacramento" target="_blank">Larkspur Hotel</a>. Just mention that you are staying for "Kai and Mai's Wedding" when you make your reservation
  p.phone Phone: 916.646.1212
  p.address Address: 555 Howe Avenue, Sacramento, CA 95825

  h3 Other Local Hotels
  p.local-hotel
    a(href="http://www.marriott.com/hotels/travel/sacex-residence-inn-sacramento-cal-expo/", target="_blank").name Marriott Residence
    .phone 916.920.9111
    .address Address: 1530 Howe Avenue, Sacramento, CA 95825

  p.local-hotel
    a.name(href="http://www.doubletreesacramento.com/", target="_blank") Doubletree
    .phone 916.929.8855
    .address Address: 2001 Point West Way, Sacramento, CA 95815

  p.local-hotel
    a.name(href="http://www.hiltonsacramentoardenwest.com/", target="_blank") Hilton Sacramento
    .phone 916.922.4700
    .address Address: 2200 Harvard St., Sacramento, California 95815
