.hotel
  h2 Hotel

  p.description
    | There is a group discount rate at the Larkspur Hotel. Just mention that you are staying for "Kai and Mai's Wedding" when you make your reservation

  p.phone Phone: 916.646.1212

  p.address Addess: 555 Howe Avenue, Sacramento, CA 95825

  h3 Other Local Hotels
  p Marriott Residence
  p Doubletree
  p Hilton Sacramento
