.mehndi
  h2 The Mehndi

  p.description
    | You are invited to an evening of celebration and dancing at the Mehndi Ceremony.

  p.date
    | <strong>Date</strong>: Friday, February 7th, 2014

  p.time
    | <strong>Time</strong>: 6:30 pm

  p.location
    | <strong>Location</strong>: Sunrise Event Center
    <br>
    | 11167 Trade Center Drive Rancho Cordova, CA 95670

  p.rsvp
    | <strong>RSVP</strong>: email <a href="mailto:saima.siddiqui@realliving.com" target="_blank">saima.siddiqui@realliving.com</a> by 1/25/14

  p.description
    | "Mehndi" is a ceremonial art form which originated in ancient India. Intricate patterns of mehndi or henna are typically applied to brides before wedding ceremonies. Generally the bride and groom attend the event together and on the occasion a professional mehndi artist or a relative applies mehndi to the bride's hands and feet. The event generally has a celebratory festival feel to it with dancing and singing. In Pakistan, the Mehndi is often one of the most important and fun filled pre-wedding ceremonies.

