.mehndi
  h2 The Mehndi

  p.date
    | Date: Friday, February 7th, 2014

  p.location
    | Location: Sacramento, CA to be determined.

  p.description
    | "Mehndi" is a ceremonial art form which originated in ancient India. Intricate patterns of mehndi or henna are typically applied to brides before wedding ceremonies. Generally the bride and groom attend the event together and on the occasion a professional mehndi artist or a relative applies mehndi to the bride's hands and feet. The event generally has a celebratory festival feel to it with dancing and singing. In Pakistan, the Mehndi is often one of the most important and fun filled pre-wedding ceremonies.

