.wedding
  h2 Wedding

  p.date
    | Date: Saturday, Februrary 8th, 2014

  p.location
    | Location: 1220 Arden Hills Lane, Sacramento, CA 95864

  p.description
    | Due to gift registering being one of the most stressful and time consuming events ever created, Mai and Kai respectfully request no boxed gifts. If you don't know what that means, ask. Love, Kai and Mai.

  h3 Schedule
  p
    | <strong>4:00 pm</strong> - Church Ceremony (East Terrace)
  p
    | <strong>4:30 pm</strong> - Appetizer Hour (Heritage Room)
  p
    | <strong>6:00 pm</strong> - Bride and Groom Arrive (Heritage Room)
  p
    | <strong>6:10 pm</strong> - Nikka Ceremony (Heritage Room)
  p
    | <strong>6:30 pm</strong> - Photos with Bride and Groom (Heritage Room)
  p
    | <strong>7:30 pm</strong> - Dinner (Heritage Room)

  h3 Menu
  p In your RSVP, please choose between the following options
  p.meat
    <strong>Prime Rib</strong> - slow roasted choice cut prime rib of beef with au jus and creamy horseradish
  p.chicken
    <strong>Chicken Piccata</strong> - breaded and seared chicken breast topped with a garlic velouté
  p.vegetarian
    <strong>Vegetarian Option</strong> - TBD
