.wedding
  h2 Wedding

  p.date
    | <strong>Date</strong>: Saturday, Februrary 8th, 2014

  p.location
    | <strong>Location</strong>: Arden Hills Country Club
    <br>
    | 1220 Arden Hills Lane, Sacramento, CA 95864

  p.description
    | Your company at our wedding is present enough but if we are honored with a gift from you, a monetary gift will be very much appreciated.

  h3 Schedule
  p
    | American Ceremony (East Terrace)
  p
    | Appetizer Hour (Heritage Room)
  p
    | Bride and Groom Arrive (Heritage Room)
  p
    | Nikka Ceremony (Heritage Room)
  p
    | Photos with Bride and Groom (Heritage Room)
  p
    | Dinner (Heritage Room)

  h3 Menu
  p In your RSVP, please choose between the following options
  p.meat
    <strong>Prime Rib</strong> - slow roasted choice cut prime rib of beef with au jus and creamy horseradish
  p.poultry
    <strong>Chicken Piccata</strong> - breaded and seared chicken breast topped with a garlic velouté
  p.fish
    <strong>Baked Salmon</strong> - the freshest salmon filet roasted and topped with a lemon dill cream sauce
  p.vegetarian
    <strong>Vegetarian Option</strong> - TBD
