@import 'bootstrap.min.css'
@import 'slider.css'

body
  font-family: Lato, Helvetica, Arial, sans-serif
  font-weight: 400
  font-size: 16px
  padding: 0px
  text-align: center
  background-color: #F5FFFA

.wrapper
  min-width: 500px
  min-height: 1000px
  margin: 0 auto
  text-align: left
  padding: 16px 10%
  border: 5px solid
  border-color: #00A99D

.top-header
  margin-right: auto;
  margin-left: auto;
  text-align: center
  table
    margin-right: auto;
    margin-left: auto;
  .wedding-of
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 4px;
    margin-top: 8px;
    letter-spacing: 2px;
    color: #808080;
  .groom-name, .bride-name
    color: #00A99D;
    font-size: 30px;
    text-transform: uppercase;
    vertical-align: middle;
  .little-line
    border: 1px solid;
    color: #B6C9BA;
    margin: 4px auto 10px;
    width: 100px;
  .date
    color: #808080;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;

.navigation
  a
    color: #00A99D

h1
  text-align: center

h2
  text-decoration: underline
  font-size: 22px

h3
  font-size: 17px

.navigation
  border:1px solid #ccc
  border-width:1px 0
  list-style:none
  margin:0
  padding:0
  text-align:center
  li
    display:inline
  a
    display:inline-block
    padding:10px
  a:hover
    text-decoration: none

.contact
  .contact-info
    margin-top: 9px
    margin-bottom: 9px
    .name
      font-weight: bold
